# get rid of things
prisma/seed.ts
.env
tailwind.config.ts
README.md
package.json
.gitignore
tsconfig.json
package-lock.json
.vscode/
next.config.mjs
.npmrc
next-env.d.ts
.gihub/
components.json
.github
*.mdx
components/ui/
vite.config.ts
postcss.config.mjs
.prettierrc
.prettierignore
prettier.config.ts
.eslintrc.json
