
prisma/seed.ts
prisma/migrations
node_modules
.env
tailwind.config.ts
readMe.md
package.json
.gitignore
tsconfig.json
package-lock.json
.vscode/settings.json
.markdownlint.json
.gihub/workflows
components.json
./github
*.mdx
/app/components/ui
vite.config.ts
postcss.config.mjs
.prettierrc
.prettierignore
prettier.config.ts
.eslintrc.json
